@import url('https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto:400,500');
body{
    background-image: url(../images/fondo.png)
    
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif;
}

body{
    font-family: 'Roboto', sans-serif;
}

.jumbotron{
    height: 90px;
    padding:8px;
    color:white;
    text-align: start;
    padding-right: 300px;
}
.card-deck{
    color:black;
    width: 1080px;
    height: 400px;
margin-top: 30px;

}
.cartas2{
    color:black;
    width: 1080px;
    height: 400px;
margin-top: 30px;
margin-left: 235px;
}

    